* {
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
header {
    height: 40px;
    margin: 20px 20px;
}
.logo {
    float: left;
    height: 35px;
}
.menu {
    float: right;
    height: 35px;
}
.container {
    position: relative;
    background: lightgray;
}
.image {
    filter: brightness(80%);
    max-width: 100%;
    max-height: 100%;
}
.wrapper {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
}
h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 10px;
}
button {
    margin: 0 auto;
    display: block;
    clear: both;
    padding: 5px 60px;
    font-size: 25px;
    border: 3px solid #cc6600;
    border-radius: 25px;
    background: #fdcc33;
    color: #cc6600;
}
span {
    text-transform: uppercase;
}
main {
    background-color: lightgray;
    margin: 0 auto;
    padding: 20px 150px 350px 150px;
}

.content {
    width: 400px;
    margin: 20px 0;
    padding: 20px 0;
}
#content-wrapper-1 {
    float: left;
}
#content-wrapper-2 {
    float: right;
}
h3,
p {
    font-size: 20px;
}

.img {
    float: left;
    margin: 0px 20px 30px 0px;
}
footer {
    background: gray;
    color: white;
    padding: 15px 30px;
}
