<div class="nav_bar">
    {{#projects}}
        <ul>
            <li>
                <a class="nav_title" href="/project/{{directory}}">{{title}}</a>
            </li>
        </ul>
    {{/projects}}
</div>