{{!-- {{> nav}}  --}}

<div class="welcome">
    <h1>Welcome to my portfolio using express-handlebars</h1>
    <h5>sorry for hurting your eyes 😅</h5>
    {{#projects}}
        <a href="/project/{{directory}}"><img
                src="/{{directory}}/img.png"
                alt="png"
            />
            <h4>{{title}}</h4>
        </a>

    {{/projects}}
</div>