* {
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 70px 1fr 30px;
}

header {
    background-color: forestgreen;
}

footer {
    background-color: black;
}
main {
    background-color: rosybrown;
}
